@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&family=Montserrat:wght@300&family=Oxanium:wght@300&display=swap');

/*   INDEX.HTML   */
/* please reduce the ammount of gradients, my eyes hurt like heck */
/* no */

button {
  font-family: 'Oxanium', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-bottom: 3rem;
  background: linear-gradient(90deg, rgba(50,145,164,1) 0%, rgba(131,58,180,1) 36%, rgba(253,29,29,1) 100%);
  background-color: #232354;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container > div {
  border-radius: 10px;
  background: linear-gradient(270deg, rgba(15,72,128,1) 0%, rgba(45,48,52,1) 100%);
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 0px 15px #0f4880;
}

.flex-container > div > div {
  box-shadow: 0px 0px 15px #0f4880;
}

.flex-container > div:hover {
  background: linear-gradient(270deg, rgba(12,58,102,1) 0%, rgba(36,38,41,1) 100%);
}

.flex-container-privateRooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container-privateRooms > div {
  border-radius: 10px;
  background: linear-gradient(266deg, rgba(12,58,102,1) 0%, rgba(36,38,41,1) 100%);
  padding: 20px;
  margin: 30px;
}
.flex-container-privateRooms > div:hover {
  background: rgba(255, 255, 255, 0); /* #FFFFFF00 is invisible  nice*/
}

.flex-container-publicRooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container-publicRooms > div {
  border-radius: 10px;
  background: linear-gradient(266deg, rgba(12,58,102,1) 0%, rgba(36,38,41,1) 100%);
  padding: 20px;
  margin: 30px;
}
.flex-container-publicRooms > div:hover {
  background: rgba(255, 255, 255, 0);
}

#chatElementsContainer {
  display: none;
  margin: 5vh 5vh 0 5vw;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: #36393e;
  min-height: 85vh;
}

#messageForm {
  background: #000000;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  width: calc(100vw - 24px);
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#messageInput {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#messageInput:focus {
  background: #c7d6ff;
}

#messageForm > button {
  background: linear-gradient(45deg, rgba(136,21,219,1) 0%, rgba(0,109,255,1) 100%);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff; 
}

#fileInputIcon {
  background-color: #b700ff;
}

#messageForm > button:hover {
  background: linear-gradient(135deg, rgba(136,21,219,1) 0%, rgba(0,109,255,1) 100%);
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

#messages > li {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  word-break: break-all;
}

#top {
  font-size: 10vh;
  font-family: "Oxanium", sans-serif;
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 10px;
}

#joinViaInvite {
  font-size: 20px;
  display: none;
}

#joinViaInvite > p {
  text-align: center;
}

#joinRoom > button {
  background-color: #4CAF50;
  border-radius: 5px;
  border: solid #4CAF50 1px;
  color: white;
  padding: 5px 16px;
  margin-top: 2.5vw;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#joinRoom > button:hover {
  background-color: #3d8b40;
  border: solid #3d8b40 1px;
}

#makePublicRoom > button {
  background-color: darkblue;
  border-radius: 5px;
  border: solid darkblue 1px;
  color: white;
  padding: 5px 16px;
  margin-top: 2.5vw;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#makePublicRoom > button:hover {
  background-color: #00006F;
}

#makeRoom > button {
  background-color: darkblue;
  border-radius: 5px;
  border: solid darkblue 1px;
  color: white;
  padding: 5px 16px;
  margin-top: 2.5vw;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#makeRoom > button:hover {
  background-color: #00006F;
}

#messages > li:hover {
  background-color: gray;
}

span.content {
  font-family: "Open Sans", sans-serif;
}

#publicRoomList {
  list-style-type: none;
}

#publicRoomList > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background: linear-gradient(90deg, rgba(113,82,105,1) 0%, rgba(152,152,152,1) 100%);
}

#publicRoomList > div > button {
  margin-left: 5vw;
  background-color: green;
  border-radius: 5px;
  border: solid darkblue 1px;
  color: white;
  padding: 5px 16px;
  text-align: center;
  display: inline;
  font-size: 16px;
  float: right;
}

#publicRooms {
  text-align: center;
}

#publicRooms > h4 {
  text-align: center;
  text-decoration: bold;
}

span.name {
  font-family: "Roboto", sans-serif;
}

span.system {
  font-family: "Open Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 22px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #fd1d1d;
  height: 95vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #1a1a1a;
  min-height: 5vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 7px solid rgba(0, 0, 0, 0);
  background-color: #000000;
}

input:hover {
  background: linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(108,108,108,1) 100%);
  border: 1px;
}

input {
  border-radius: 5px;
  border: 1px;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(159,159,159,1) 100%);
}

table {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  background: #b3baff;
}

td, th{
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background: #4352e6;
  border: 1px solid #4352e6;
}

#joinViaInvite {
  border-radius: 5px;
  background: linear-gradient(266deg, rgba(12,58,102,1) 0%, rgba(36,38,41,1) 100%);
  align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 5vh;
  justify-content: center;
}

#JVIjoin{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 16px;
}

#JVIusername {
  display: block;
  margin:0 auto;
}

.javascriptNotEnabledWarning {
  text-align: center;
  padding: 15px;
}